@media only screen and (max-width: 1920px) {
    
}


@media only screen and (max-width: 1600px) {

}


@media only screen and (max-width: 1340px) {
    .news-page {
        .header {
            .hamburger {
                width: 28px;
                height: 11px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                position: relative;
                z-index: 50;
                cursor: pointer;
                span {
                    &:nth-child(1) {
                        width: 28px;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transition: all .3s;
                    }
                    &:nth-child(2) {
                        display: block;
                        width: 16px;
                        height: 1px;
                        background: #000;
                        transition: all .3s;
                    }
                    &:nth-child(3) {
                        width: 28px;
                        height: 1px;
                        background: #000;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: all .3s;
                    }
                }
                &.active {
                    span {
                        &:nth-child(1) {
                            width: 28px;
                            height: 1px;
                            background: var(--text);
                            position: absolute;
                            top: 5px;
                            left: 0;
                            transform: rotate(-45deg);
                        }
                        &:nth-child(2) {
                            display: block;
                            width: 16px;
                            height: 1px;
                            background: #fff;
                            opacity: 0;
        
                        }
                        &:nth-child(3) {
                            width: 28px;
                            height: 1px;
                            background: var(--text);
                            position: absolute;
                            bottom: 5px;
                            left: 0;
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        .news {
            padding: 0 15px;
        }
    }
}


@media only screen and (max-width: 1200px) {
    
}


@media only screen and (max-width: 992px) {

}


@media only screen and (max-width: 768px) {
    .news-page {
        .news {
            h1 {
                margin-top: 60px;
                font-size: 38px;
                font-weight: 400;
                font-family: 'Federo';
                line-height: 120%;
            }
            &__wrapper {
                margin-top: 40px;
            }
            &__title {
                margin-top: 70px;
                font-size: 36px;
                color: var(--text);
            }
            &__text {
                margin-top: 24px;
                font-size: 18px;
                color: var(--text2);
                line-height: 160%;
            }
            &__video {
                margin: 70px 0;
                width: 100%;
                &-block-content {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16/9;
                }
                &-block {
                    position: relative;
                }
                &-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
            &__list {
                margin-top: 24px;
                margin-bottom: 70px;
                ul {
                    padding-left: 27px;
                    list-style-type: decimal;
                    display: flex;
                    flex-direction: column;
                    gap: 22px;
                }
                li {
                    list-style: decimal;
                    font-size: 18px;
                    color: var(--text2);
                    line-height: 160%;
                    span {
                        font-weight: 500;
                        color: var(--text);
                    }
                }
            }
            &__divider {
                width: 100%;
                height: 1px;
                background: var(--mainline);
            }
        }
    }
}


@media only screen and(max-width: 640px) {
    
}


@media only screen and (max-width: 480px) {
    .news-page {
        .news {
            h1 {
                margin-top: 40px;
                font-size: 28px;
                font-weight: 400;
                font-family: 'Federo';
                line-height: 120%;
            }
            &__wrapper {
                margin-top: 30px;
            }
            &__title {
                margin-top: 40px;
                font-size: 20px;
                color: var(--text);
            }
            &__text {
                margin-top: 20px;
                font-size: 16px;
                color: var(--text2);
                line-height: 160%;
            }
            &__video {
                margin: 40px 0;
                width: 100%;
                &-block-content {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 16/9;
                }
                &-block {
                    position: relative;
                }
                &-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: transparent;
                    border: none;
                    cursor: pointer;
                }
            }
            &__list {
                margin-top: 24px;
                margin-bottom: 40px;
                ul {
                    padding-left: 24px;
                    list-style-type: decimal;
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }
                li {
                    list-style: decimal;
                    font-size: 16px;
                    color: var(--text2);
                    line-height: 160%;
                    span {
                        font-weight: 500;
                        color: var(--text);
                    }
                }
            }
            &__divider {
                width: 100%;
                height: 1px;
                background: var(--mainline);
            }
        }
        .journal {
            margin-top: 40px;
            &__slider {
                margin-top: 0;
            }
        }
        .footer {
            margin-top: 80px;
        }
    }
}