.mind-page {
    .header {
        position: sticky;
        z-index: 10;
        background: var(--white);
        .nav__link {
            color: var(--text);
        }
        .tabs__list {
            color: var(--text);
        }
        .header__telephone {
            color: var(--text);
        }
        .header__email {
            color: var(--text);
        }
        .tabs__list-active {
            color: var(--buttons);
        }
        .tabs__list:hover {
            color: var(--buttons);
        }
    }
    .mind-intro {
        width: 100%;
        height: 516px;
        background: url(../images/services-page/mind-intro-bg.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &__wrapper {
            padding-top: 110px;
            h1 {
                font-family: 'Federo';
                font-size: 71px;
                font-weight: 400;
                color: var(--white);
            }
        }
        &__text {
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            line-height: 160%;
            color: var(--white);
            padding-top: 24px;
        }
        &__btn {
            width: 220px;
            height: 50px;
            font-weight: 500;
            color: var(--white);
            line-height: 160%;
            margin-top: 32px;
        }
    }
    .mind__info {
        margin-top: 70px;
        position: relative;
        &::after {
            content: url(../images/flower-left-vector2.svg);
            position: absolute;
            top: 0;
            left: 0;
        }
        &-title {
            font-size: 48px;
            color: var(--text);
        }
        &-text {
            margin-top: 32px;
            p {
                font-size: 18px;
                line-height: 160%;
                color: var(--text2);
            }
        }
    }
    .mind__divider {
        margin-top: 70px;
        width: 100%;
        height: 1px;
        background: var(--mainline);
    }
    .banner {
        margin-top: 70px;
    }
    .signing {
        margin-top: 70px;
    }
}